/* Define --main-bg-color here */
:root {
    --menu-font: "Montserrat", sans-serif;;
    --main-color: #686868;
    --body-color: #212326;
    --sections-font: "Playfair Display", serif;
    --main-background: #f3f3f3;
  }

body {
    color: var(--body-color);
}

.head-section {
    position: relative;
}
.menu {
    font-family: var(--menu-font);
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    color: white;
    cursor: pointer;
    .menu-logo {
        height: 50px;
    }
    .title {
        font-size: 42px;
    }
    .subtitle {
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
    }
    &:hover {
        background-color: white;
        color: var(--main-color);
    }
}

.carousel-component {
    position: relative;
}

.sub-section-title {
    text-align: center;
    line-height: 1.2;
    letter-spacing: .02em;
    text-transform: capitalize;
    font-weight: lighter;
    padding: 25px 0;
}

.portfolio {
    font-family: var(--sections-font);
    text-align: center;
    align-items: center;
    .portfolio-works {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-card {
        font-family: var(--menu-font);
        cursor: pointer;
        margin: 12px;
        max-width: 100%;
        height: 400px;
        .portfolio-image {
            background-repeat: no-repeat;
            background-size: cover;
            width: 90%;
            height: 90%;
            background-position: right;
            margin: auto auto 12px auto;
            transition: transform .2s;
        }
        .portfolio-image:hover {
            -ms-transform: scale(1.01); /* IE 9 */
            -webkit-transform: scale(1.01); /* Safari 3-8 */
            transform: scale(1.03);
        }
    }
    .portfolio-works.one-subsection {
        display: flex;
        justify-content: center;

        .portfolio-card {
            width: 25%;
        }
    }
}

.contact-content {
    background-color: var(--main-background);
    font-family: var(--menu-font);
    text-align: center;
    padding: 30px 0;
    margin: 16px;
}

.credits {
    font-size: 12px;
    padding: 12px;
    p {
        margin: 0;
        font-family: var(--menu-font);
    }
}


.template-main-image {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    font-family: var(--sections-font);
    padding: 56px 0;
    .title {
        font-size: 48px;
        line-height: 26px;
        margin-bottom: 12px;
    }

    .subtitle {
        font-size: 12px;
        line-height: 4px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
}

.template-content {
    font-family: var(--menu-font);
    .description {
        margin: 32px auto;
        max-width: 600px;
        color: var(--body-color);
    }
}

.template-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    .gallery-img {
        width: 90%;
        height: 400px;
        margin: 8px auto;
        img {
            max-width: 100%;
            height: 100%;
            transition: transform .2s;
        }
        img:hover {
            -ms-transform: scale(1.01); /* IE 9 */
            -webkit-transform: scale(1.01); /* Safari 3-8 */
            transform: scale(1.03);
        }
    }
}