* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Montserrat", sans-serif;*/
    font-family: helvetica, arial, sans-serif;
}

.brand img{
    height: 49px;
}
.brand{
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 39px;
    padding-bottom: 10px;
    transition: background-color 0.3s ease;
    cursor:pointer;
}
.brand.transparent {
    background-color: rgba(51, 51, 51, 0.5); /* Color semitransparente al hacer scroll */
}
.brand p{
    margin:0px;
}

.carousel-component {
    padding-top: 122px; /* Espacio para que el contenido no quede oculto detrás de la barra de navegación */
    
}

.carousel-inner img{
    height: 272px;
}

.portfolio{
    margin: 20px;
    text-align: center;
}

.portfolio-image{
    height: 200px;
    background-size: cover;
    margin: 20px;
    box-shadow: 16px 18px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.portfolio-name{
    color: #464141;
    cursor: pointer;
}

.template-main-image{
    height: 200px;
    background-size: cover;
    margin: 0px;
    top: 143px;
    color: white;
    text-align: center;
    position:relative;
} 

.template-main-image-liberty {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/slide2.jpeg) no-repeat center center/cover;
}
.template-main-image-jolly {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/jolly-1.jpeg) no-repeat center center/cover;
}
.template-main-image-bagots {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/bagots-1.jpeg) no-repeat center center/cover;
}
.template-main-image-san-lorenzo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/san-lorenzo2.JPG) no-repeat center center/cover;
}
.template-main-image-barry-bar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/barry1.JPG) no-repeat center center/cover;
}
.template-main-image-country-w{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/slide3.jpeg) no-repeat center center/cover;
}
.template-main-image-country-k{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/slide4.jpeg) no-repeat center center/cover;
}
.template-main-image-d3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/slide6.jpeg) no-repeat center center/cover;
}
.template-main-image-d4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/dublin4-3.JPG) no-repeat center center/cover;
}

.template-main-image p{
    margin:0;
}
.padding_top_34{
    padding-top: 34%;
}
.padding_top_31{
    padding-top: 31%;
}

.title{
    font-size: 42px;
}
.title_section{

    margin-top: 10px!important;
    font-size: 19px;

}

.template-content{
    position: absolute;
    top:336px;
}

.gallery-img{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 251px; /* Altura del contenedor: 100% del viewport */
    padding: 15px;
}

.gallery-img img{
    max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor */
    height: 220px;
    box-shadow: 16px 18px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.subtitle{
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}
.sub-section-title{
    /* font-family: "Playfair Display", serif; */
    font-family: helvetica, arial, sans-serif;
    color:#595757;
}
.contact-section{
    text-align: center;
}
.credits{
    text-align: center;
    font-size: 13px;
}
.credits p{
    margin:0;
}
.credits :nth-child(1){
    font-style: italic;
}

.subtitle_section{
    font-size: 11px;
}
.description{
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
}

.menu-logo{
    border-radius: 8px;
    margin: 8px;
}

@media (min-width: 768px) {
    .carousel-inner img{
        height: 950px;
    }

    .portfolio-works{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .portfolio-image{
        width: 300px;
    }
    .template-main-image{
        background-size: contain;
        height: auto;
    }
    .template-content{
        top:733px;
    }
    .template-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .subtitle_section{
        font-size: 19px;
    }
    .title_section{
        font-size: 32px;
    }
    .description{
        font-size: 20px;
        padding: 49px;
    }
}

